body{
    background-color: rgb(240, 240, 240);
}
.right-menu{
    background-color: #fbd3da;
}
.img-top{
   /* border: solid 2px #d6d4d4;
    align-self: center;
    margin-left: 50px;
    margin-top: 20px;*/
}
.qualifications{
    border-bottom:solid 1px black;
}
/*.left-menu{
margin-bottom: 803px;
}
@media{
    
}