/*body style*/
body{
    width: 100%;
    height: 100%;
    padding-top: 0%;
}
.body-list{
    float:right;
}
/*Left Container Style*/
.img-headar{
    width: 150px;
    height: 150px;
    margin-left: 90px;
    border: solid 2px #c5c5c5;
}
.left-img img{
    width: 1334px;
    height: 900px;
    opacity: 0.3;
}
.left-section{
    text-align: right;
}
.left-menu{
    background-color: cornsilk;
}
.name-span{
    border: solid 1px rgb(163, 162, 162);
    background-color: rgb(163, 162, 162);
    text-align: center;
}
/* Right Container Style*/
.right-menu{
    background-color: #fbe5e9;
}
h4{
    margin-bottom: 35px;
}
.qualifications{
    border-bottom: solid 1px rgb(163, 162, 162);
}
.end-border{
    border-top: solid 1px rgb(163, 162, 162);
    font-size: 10px;
}
li{
    text-decoration: none;
    list-style-type: none;
}
.contact-list{
    margin-bottom: 60px;
}
i{
    margin-top: 25px;
}
.contact-list i{
    margin-left: 30px;
}
/*Media Print*/
@media print{
.left-menu{
    width: 50%;
}
h4 h5 h6 p li{
    font-size: large;
}
}