.img-headar{
    margin-left: 90px;
    border: solid 2px #c5c5c5;
}
.body-list{
    float:right;
}
.right-menu{
    background-color: #fbd3da;
}
.left-menu{
    background-color: cornsilk;
}
.qualifications{
    border-bottom: solid 1px rgb(163, 162, 162);
}
.end-border{
    border-top: solid 1px rgb(163, 162, 162);
    font-size: 10px;
}
/*media print*/
@media print{
.left-menu{
    width: 50%;
}
}